.bg-azure{
  background-color: azure;
}

.ml-10{
  margin-left: 10%;
}

.ml-1{
  margin-left: 1%;
}

.listItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
