<div>

    <div class="card-body m-2">
      <h4>{{todo?.title}}</h4>
      id: {{todo?.id}}
      <div>{{todo?.body}}</div>
      Final date: {{todo?.finalDate | date:'fullDate'}}
      <button class="btn-warning" (click)="isAvailable = !isAvailable">edit</button>
    </div>
</div>

<div *ngIf="isAvailable" class="p-2">
  <form #scheduleFormUpdate="ngForm" >
    <fieldset>
      <legend>Updating todo</legend>
    <label>
      <input type="text" placeholder="Title" name="title" [(ngModel)]="updatedTitle">
    </label>
    <label>
      <input type="text" name="body" placeholder="Description" [(ngModel)]="updatedBody">
    </label>
    <label>
      Enter new date
      <input type="date" name="date" [(ngModel)]="updatedDate">
    </label>
    <button class="btn-primary" (click)="updateTodo()">save changes</button>
      </fieldset>
  </form>
</div>

